<button type="button" id="BacktoTop" class="toTop-arrow" style="z-index:100;"></button>

<script>
    $(function () {
        $('#BacktoTop').click(function () {
            $('html,body').animate({scrollTop: 0}, 500);
        });
        $(window).scroll(function () {
            if ($(this).scrollTop() > 300) {
                $('#BacktoTop').fadeIn(300);
            } else {
                $('#BacktoTop').stop().fadeOut(300);
            }
        }).scroll();
    });
</script>


<style>
    .toTop-arrow {
        width: 3.5rem;
        height: 3.5rem;
        padding: 0;
        margin: 0;
        border: 0;
        border-radius: 33%;
        opacity: 0.8;
        background: rgb(85,143,83);
        cursor: pointer;
        position: fixed;
        right: 1.5rem;
        bottom: 1.5rem;
        display: none;
    }

    .toTop-arrow::before, .toTop-arrow::after {
        width: 31px;
        height: 7px;
        border-radius: 3px;
        background: rgb(236,234,227);
        position: absolute;
        content: "";
    }

    .toTop-arrow::before {
        transform: rotate(-45deg) translate(0, -50%);
        left: 0.4rem;
    }

    .toTop-arrow::after {
        transform: rotate(45deg) translate(0, -50%);
        right: 0.4rem;

    .toTop-arrow:focus {
        outline: none;
    }
</style>